* {
  background: #a5c6ef;
  font-family: "Happy Monkey", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.mainContainer {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 778px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.a {
  flex-grow: 6;
}

.b {
  flex-grow: 1;
  backface-visibility: hidden;
}

.title {
  margin-bottom: 50px;
}

.cat {
  min-width: 100%;
  max-height: 10rem;
  background: none;
}

.cat:hover {
  animation: rotateSideToSide 3s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotateSideToSide {
  0% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(20deg);
  }

  100% {
    transform: skewY(0deg);
  }
}
